.DashboardContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 100%;
}
::-webkit-scrollbar {
  width: 5px;
  background-color: transparent;
}

.main {
  flex: 1;
  border: 2px solid white;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 15px 0px;
  /* max-height: 530px; */
}
.dashboard {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(11, 11, 70, 0.603);
}
.date {
  margin-right: 10px;
}
.main > div {
  margin-left: 10px;
  margin-right: 10px;
  padding: 0.5rem;
  border-radius: 1em;
  background-color: rgba(11, 11, 70, 0.603);
}
.todo {
  display: flex;
  flex-direction: column;
}

@media (max-width: 1030px) {
  p {
    font-size: 16px;
  }
  .profile h3 {
    display: none;
  }
  .profile img {
    max-width: 30px;
  }
  .main {
    max-height: 100vh;
  }
  .charts {
    flex-direction: column;
  }
}
