.doctorRelevancy {
  padding: 1rem;
  border: 1px solid white;
  width: 50%;
  margin-left: 20px;
  padding-left: 40px;
  display: grid;
  grid-template-columns: 0.2fr 0.5fr 0.5fr 1fr 2fr;
  align-items: center;
  justify-items: center;
}

.doctorRelevancy button {
  padding: 0.5rem;
  background-color: transparent;
  border-radius: 20px;
  border: 1px solid white;
  width: 100px;
  text-align: center;
  margin: 5px;
}
.doctorRelevancy button:hover {
  background-color: antiquewhite;
  color: black;
}
.doctorRelevancyActions {
  display: flex;
}
.NMC {
  padding: 0.5rem;
  font-size: 25px;
}
.doctorRelevancy h2 {
  /* text-decoration: underline wavy; */
  border-bottom: 1px solid white;
  margin-bottom: 15px;
}
