.forgotPasswordContainer {
  /* background-color: aqua; */
  height: 100%;
  display: grid;
  justify-content: center;
  padding: 2rem;
  align-items: center;
  justify-items: center;
}
.forgotInnerContainer {
  display: grid;
  grid-template-columns: 1fr;
  height: 60%;
  gap: 5px;
  align-items: center;
  justify-items: center;
  border: 2px solid white;
  border-radius: 2rem;
  padding: 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.forgotInnerContainer input {
  background-color: rgb(226, 236, 236);
  border: 2px solid rgba(10, 93, 160, 0.932);
  max-width: 180px;
  padding: 0.5em;
  border-radius: 1rem;
  font-size: 16px;
  color: rgba(10, 93, 160, 0.932);
}
.forgotInnerContainer input:placeholder-shown {
  padding-left: 15px;
}

.forgotInnerContainer p {
  font-size: 20px;
}
.forgotButton:hover {
  background-color: rgb(67, 218, 67);
  color: black;
}
