.header {
  display: flex;
  max-height: 90px;
  width: 100%;
  justify-content: space-between;
  padding: 0px 2em;
  align-items: center;
  border: 2px solid white;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  background-color: rgba(11, 11, 70, 0.603);
  overflow: hidden;
}
.header .logo {
  display: flex;
  max-width: 90px;
  min-width: 50px;
}
.logo img {
  object-fit: contain;
  width: 100%;
}
.todoInner,
.statisticsInner,
.spamInner,
.doctorInner {
  display: flex;
  align-items: center;
  border-radius: 1em;
  gap: 5px;
}
.navbar {
  display: flex;
  width: 60%;
  min-width: 250px;
  padding: 1em;
  gap: 10px;
  justify-content: space-around;
  font-size: 1.2em;
  text-align: center;
}

.navbar p:hover {
  /* text-decoration: underline; */
  transform: scale(1.2);
  transition-duration: 0.5s;
}
.profile {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-evenly;
}
.profile h3 {
  text-align: center;
}
.profile img {
  aspect-ratio: 1/1;
  max-width: 50px;
  border-radius: 50%;
  object-fit: cover;
}
.logoutbtn {
  border: 1px solid white;
  padding: 0.3em;
  margin: 0.2em;
  border-radius: 1em;
  text-align: center;
}
