* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(55, 90, 153, 1) 31%,
    rgba(0, 212, 255, 0.9977240896358543) 95%
  );
}
.appContainer {
  /* background-color: blueviolet; */
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  padding: 2rem;
}
